*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body{
    background-color: #fedce2;
    
}

header h1{
    text-align: center;
    margin-top: 20px;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    width: 500px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 55px 0 55px;
}

section{
margin: 20px;
}


input,
p{
    width: 450px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
}

input,
.operandos_btn,
#resultado{
    
    text-align: center;
    
}

.operandos_btn{
    display: flex;
    justify-content: space-around;
    width: 400px;
    

}

button{
    width: 100px;
    height: 50px;
    font-size: .8rem;

}

#resultado{
    border: solid thick;
    background-color: #fedce2;
    height: 50px;
    font-size: 2rem;
}