*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color:  rgb(26, 82, 118);
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4.5rem;
    margin: 20px 0;
}

.container{
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 33%;
    background-color: rgba(243, 243, 243, 5%);
    gap: 3%;
    border-radius: 20px;
    border: 1px solid white;
}

#title{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 20px;

}

.tipoSeguroList ul li{
    list-style: none;
}

input .placeholder{
    width: 400px;
}

.opcionesCobertura{
    flex-direction:row;
}

.inp_rad,
button,
.submit-btn {
    cursor: pointer;
}

.valor { 
    visibility: hidden;
}

.placeholder,
.submit-btn{
    background-color: rgb(26, 82, 118);
    border-radius: 10px;
    color:white;
    border: 1px solid #9e9e9e;
    padding: .7rem;
    width: 350px;
}

.submit-btn{
    width: 400px;
    height: 60px;
    background-color:rgb(246, 52, 4);
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

